<launch>
    <arg name="debug" default="false"/>
    <arg unless="$(arg debug)" name="launch_prefix" value=""/>
    <arg if="$(arg debug)" name="launch_prefix" value="gdbserver :1234"/>
    <param name="robot_description" command="$(find xacro)/xacro $(find learning)/urdf/windmill.urdf.xacro"/>
    <rosparam file="$(find learning)/config/actuator_coefficient.yaml" command="load" ns="rm_hw"/>
    <rosparam file="$(find learning)/config/windmill_hw.yaml" command="load"/>
    <node name="rm_hw" launch-prefix="$(arg launch_prefix)" pkg="r_hw" type="rm_hw" respawn="false"
          clear_params="true"/>

    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
        <param name="use_gui" value="true"/>
    </node>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="50.0"/>
    </node>
    <rosparam command="load" file="$(find learning)/config/controllers.yaml"/>
    <rosparam command="load" file="$(find learning)/config/windmill.yaml"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen"
          args="joint_state_controller windmill_controller"/>
</launch>